Ensure deterministic CBOR encoding

This issue keeps track of all the tasks required to ensure a deterministic encoding to CBOR, as specified by [section 4.2 of RFC8949](https://www.rfc-editor.org/rfc/rfc8949.html#name-deterministically-encoded-c).